* {
    margin: 0;
}
body {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 1em;
    background-image: #ffffff;
    color: #000000;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p{
    font-size: 1.2em;
}
ul, ol, .lien{
    font-size: 1em;
}
.lien{
    text-decoration: none;
}
header, footer{
    background-color: #f1f1f1;
    padding: 20px 50px 20px 20px;
}
.reseau:hover{
    opacity: 0.5;
}
.reseau{
    margin-left: 5px;
    transition: all 0.1s ease-in-out;
}
p, li{
    font-size: 1.1em;
}
section{
    padding: 80px;
}
nav a{
    margin-left: 30px;
}
footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.reseau-no-padding{
    padding-left: 0px;
    transition: all 0.1s ease-in-out;
}
.reseau-legende{
    padding-left: 60px;
    padding-right: 0px;
    color: #242424;
    font-size: 1em;
}
.reseau-no-padding:hover{
    opacity: 0.5;
}
.photo-hover{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding: 10px 0px;
    margin: 30px 150px ;
    transition: all 0.1s ease-in-out;
    color:#ffffff;
    background-color: #1C8139;
    border-radius: 15px;
    font-weight: 600;
}
.photo-hover:hover {
    background-color: #126b2b;
    z-index: 2;
    font-size: 1.6em;
    margin: 30px 145px;
}
header{
    position: sticky;
    left: 0;
    top: 0;
    border-bottom: #0B162C 1px solid;
    z-index: 3;
}
.container-icon{
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}
.mentions-legales{
    margin-left: 75vw;
}
.flex{
    display: flex;
}
.title{
    font-size: 2.5em;
}