/* 
Section 1 •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·
*/

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 50px;
}

.fleur{
    width: 200px;
    height: 200px;
}

.gif{
    border-radius: 50px;
    border: #B5BAD8 2px solid;
    padding: 4px 6px;
    width: 650px;
    height: 360px;
}

/* 
Section 2 •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·
*/

.section-2{
    background-color: #87ce8e67;
    margin-top: 50px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
Section 3 •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·
*/

.section-3{
    margin-top: 50px;
    background-color: #e0bbbbad;
    padding: 60px;
}

/* 
Section 4 •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·
*/

.section-4{
    background-color: #a0bfd39a;
    margin-top: 50px;
    padding: 60px 80px;
}

.section-4 p{
    padding-left: 110px;
}

/* 
Section 5 •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·
*/

.section-5{
    margin-top: 50px;
    padding: 60px;
}