/* 
Section 1 •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·
*/

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 50px;
}

.fleur{
    width: 200px;
    height: 200px;
}

.gif{
    border-radius: 50px;
    border: #B5BAD8 2px solid;
    padding: 4px 6px;
    width: 650px;
    height: 360px;
}

/* 
Section 2 •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·
*/

.section-2{
    background-color: #DADADA;
    margin-top: 50px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}