
/* 
Généralités -----------------------------------------------------
*/

* {
    margin: 0;
}

body {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 1em;
    background-image: #ffffff;
    color: #000000;
}

/* 
Structure de la page -----------------------------------------------------
*/

header, footer{
    background-color: #f1f1f1;
    padding: 20px 50px 20px 20px;
}

section{
    padding: 40px;
}

nav a{
    margin-left: 30px;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header{
    position: sticky;
    left: 0;
    top: 0;
    border-bottom: #0B162C 1px solid;
    z-index: 3;
}

.header-home:hover{color: #ff0000;}
.header-games:hover{color: #00c510;}
.header-recents:hover{color: #0084ff;}

/* 
Taille des affichages -----------------------------------------------------
*/

h1{
    font-size: 5em;
}

h2{
    font-size: 3.4em;
}

h3{
    font-size: 2.3em;
    padding: 30px;
    text-align: center;
}

p{
    font-size: 1.2em;
}

.container-icon{
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    gap: 20px;
}

a{
    color: #000000;
    text-decoration: none;
}

a img{
    transition: all 0.1s ease-in-out;
}

a img:hover{
    opacity: 0.7;
}

button {
    transition: transform 0.1s ease;
    transform: scale(1);
    user-select: none;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    text-decoration: none;
    opacity: 0.8;
}

.icon{
    width: 60px;
    height: 60px;
}